@{
    ViewData["Title"] = "Home Page";
}

<div>

    <div class="selecting-contact">
        <div class="outer">
            <label class="label-class">Find:</label>
            <input class="input"/>
        </div>

        <p>
            <select class="select-controls" size="12">
            </select>
        </p>

        <p>
            <button>Add</button>
            <button>Edit</button>
            <button>Remove</button>
        </p>
    </div>

    <div class="right-control-class">
        <div class="selected-contact">

            <div class="outer">
                <label class="label-class">Surname:</label>
                <input class="input"/>
            </div>

            <div class="outer">
                <label class="label-class">Name:</label>
                <input class="input"/>
            </div>

            <div class="outer">
                <label class="label-class">Birthday:</label>
                <input type="date" class="input"/>
            </div>

            <div class="outer">
                <label class="label-class">Phone:</label>
                <input class="input"/>
            </div>

            <div class="outer">
                <label class="label-class">E-mail:</label>
                <input class="input"/>
            </div>

            <div class="outer">
                <label class="label-class">vk.com:</label>
                <input class="input"/>
            </div>

        </div>

        <div class="birthday-div">
            <div>
                <label>Birthday:</label>
            </div>
            <div>
                <label>Me</label>
            </div>
        </div>

    </div>

</div>