.birthday-div {
    background-color: #87cefa;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
}

.birthday-div label {
    margin: 5px;
}

.selecting-contact {
    width: 30%;
    height: 100%;
    display: inline-block;
    float: left;
    padding-right: 10px;
}

.selecting-contact .select-controls {
    width: 100%;
}

.selecting-contact .outer {
    width: 100%;
    margin: 20px auto;
    display: flex;
}

.selecting-contact .label-class {
    width: 40px;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.selecting-contact .input {
    width: 100%;
}

.selected-contact {
    pointer-events: none;
    display: inline-block;
    height: 100%;
}

.selected-contact .outer {
    width: 100%;
    margin: 20px auto;
    display: flex;
}

.selected-contact .label-class {
    width: 150px;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.selected-contact .input {
    width: 100%;
}

.outer {
    width: 100%;
    margin: 20px auto;
    display: flex;
}

.right-control-class {
    width: 100%;
}

.edit-contact {
    display: inline-block;
    height: 100%;
}

.edit-contact .label-class {
        width: 100px;
        float: left;
        text-align: left;
        padding-right: 10px;
    }